.btn-blue{
		width: 50px;
		height: 50px;
	  	-moz-border-radius: 10px;
  		-webkit-border-radius: 10px;
  		border-radius: 10px;
  		border-color: #F0F0F0;
  		border-width: 2px;
		background-image: url(https://googledrive.com/host/0B4mGL-cJ8AOYQU1jaGhaN3drSUk/blueBtn.jpg);
		background-size:48px 48px;
		background-repeat:no-repeat;
}
.btn-blue:hover{
	border-color: blue;
	border-width: 3px;
}
